# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Hardhat specific files
artifacts/
cache/
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Hardhat build files
typechain/
coverage.json
gasReporterOutput.json
solidity-coverage/

# IDE specific files
.vscode/
.idea/

#typechain-types
typechain-types/

# Encrypted environment variables (env-enc)
.env.enc
